html, body {

    width: 100%;
    height: 100%;

    background-image: url("http://i.imgur.com/SzOPmOv.gif");
}

#sun {
    position: absolute;

    top: 50%;
    left: 50%;
    

    height: 200px;
    width: 200px;
    margin-top: -100px; 
    margin-left: -100px;
    

}

#trollface1 {
    position: absolute;
    top: 0;
    left: 50%;
    
    height: 62;
    width: 56;
    margin-top: -31px;
    margin-left: -28px;
    
    -webkit-animation: spin-right 5s linear infinite;
     -moz-animation: spin-right 5s linear infinite;
      -ms-animation: spin-right 5s linear infinite;
       -o-animation: spin-right 5s linear infinite;
          animation: spin-right 5s linear infinite;

}

#trollface2{
    position: absolute;
    top: 50%;
    margin-top: -31px;
    margin-left: -28px;
    
    
    height: 62px;
    width: 56px;
    
    -webkit-animation: spin-right 5s linear infinite;
     -moz-animation: spin-right 5s linear infinite;
      -ms-animation: spin-right 5s linear infinite;
       -o-animation: spin-right 5s linear infinite;
          animation: spin-right 5s linear infinite;
}

#trollface3{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -31px;
    margin-left: -28px;
    
    
    height: 62px;
    width: 56px;
    
    -webkit-animation: spin-right 5s linear infinite;
     -moz-animation: spin-right 5s linear infinite;
      -ms-animation: spin-right 5s linear infinite;
       -o-animation: spin-right 5s linear infinite;
          animation: spin-right 5s linear infinite;
}

#trollface4{
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -31px;
    margin-left: -28px;
    
    
    height: 62px;
    width: 56px;
    
    -webkit-animation: spin-right 5s linear infinite;
     -moz-animation: spin-right 5s linear infinite;
      -ms-animation: spin-right 5s linear infinite;
       -o-animation: spin-right 5s linear infinite;
          animation: spin-right 5s linear infinite;
}

#trollface5{
    position: absolute;
    top: 14.7%;
    left: 14.7%;
    margin-top: -31px;
    margin-left: -28px;
    
    
    height: 62px;
    width: 56px;
    
    -webkit-animation: spin-right 5s linear infinite;
     -moz-animation: spin-right 5s linear infinite;
      -ms-animation: spin-right 5s linear infinite;
       -o-animation: spin-right 5s linear infinite;
          animation: spin-right 5s linear infinite;
}

#trollface6{
    position: absolute;
    top: 14.7%;
    left: 85.3%;
    margin-top: -31px;
    margin-left: -28px;
    
    
    height: 62px;
    width: 56px;
    
    -webkit-animation: spin-right 5s linear infinite;
     -moz-animation: spin-right 5s linear infinite;
      -ms-animation: spin-right 5s linear infinite;
       -o-animation: spin-right 5s linear infinite;
          animation: spin-right 5s linear infinite;
}

#trollface7{
    position: absolute;
    top: 85.3%;
    left: 14.7%;
    margin-top: -31px;
    margin-left: -28px;
    
    
    height: 62px;
    width: 56px;
    
    -webkit-animation: spin-right 5s linear infinite;
     -moz-animation: spin-right 5s linear infinite;
      -ms-animation: spin-right 5s linear infinite;
       -o-animation: spin-right 5s linear infinite;
          animation: spin-right 5s linear infinite;
}

#trollface8{
    position: absolute;
    top: 85.3%;
    left: 85.3%;
    margin-top: -31px;
    margin-left: -28px;
    
    
    height: 62px;
    width: 56px;
    
    -webkit-animation: spin-right 5s linear infinite;
     -moz-animation: spin-right 5s linear infinite;
      -ms-animation: spin-right 5s linear infinite;
       -o-animation: spin-right 5s linear infinite;
          animation: spin-right 5s linear infinite;
}

#nyancat1{
    Position: absolute;
    width: 53px;
    left: 50%;
    margin-left: -26.5px;
    margin-top: -22px;
}

#nyancat2{
    Position: absolute;
    width: 53;
    top: 50%;
    left: 100%;
    margin-left: -22px;
    margin-top: -26.5px;
    
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#nyancat3{
    Position: absolute;
    width: 53;
    top: 100%;
    left: 50%;
    margin-left: -26.5px;
    margin-top: -10px;
    
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#nyancat4{
    Position: absolute;
    width: 53;
    top: 50%;
    margin-left: -31px;
    margin-top: -26.5
    
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#troll-orbit1 {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    
    border-width: 0px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-left 7s linear infinite;
     -moz-animation: spin-left 5s linear infinite;
      -ms-animation: spin-left 5s linear infinite;
       -o-animation: spin-left 5s linear infinite;
          animation: spin-left 5s linear infinite;
}

#nyan-orbit-R {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 600px;
    height: 600px;
    margin-top: -300px;
    margin-left: -300px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: red;
    border-radius: 50%;
}

#nyan-orbit-Or {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 596px;
    height: 596px;
    margin-top: -298px;
    margin-left: -298px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: orange;
    border-radius: 50%;
}

#nyan-orbit-Y {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 592px;
    height: 592px;
    margin-top: -296px;
    margin-left: -296px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: yellow;
    border-radius: 50%;
}

#nyan-orbit-G {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 588px;
    height: 588px;
    margin-top: -294px;
    margin-left: -294px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: green;
    border-radius: 50%;
}

#nyan-orbit-B {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 584px;
    height: 584px;
    margin-top: -292px;
    margin-left: -292px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: blue;
    border-radius: 50%;
}

#nyan-orbit-V {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 580px;
    height: 580px;
    margin-top: -290px;
    margin-left: -290px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: purple;
    border-radius: 50%;
    
    -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
       -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
         -o-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
       -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
         -o-transform: rotate(-360deg);
            transform: rotate(-360deg);
